.table {
  font-size: 1.2em;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table thead th:first-child {
  border-radius: 8px 0 0 0;
}

.table thead th:last-child {
  border-radius: 0 8px 0 0;
}

.table, .table th, .table td {
  padding: 0.5em 0.8em;
  text-align: center;
}

.table thead th > span {
  cursor: pointer;
}

.table thead th {
  background-color: #362F4B;
  color: white;
}

.table tbody tr {
  color: #565656;
}

.table tbody tr:nth-child(2n) {
  background-color: #F5F5F5;
}

.table tbody td:nth-child(2) {
  font-size: 0.8em;
}
.table tbody td:nth-child(3) {
  font-size: 0.8em;
}

.table td:nth-child(1),
.active, .filled, .rejected, .cancelled 
.buy, .sell {
  font-weight: bold;
}

.table tbody tr {
  animation: 1s ease-in enter;
}

.active { color: #73d13d; }
.filled { color: #4f4f57; }
.rejected { color: #f5222d; }
.cancelled { color: #b37feb; }

.buy { color: #73d13d; }
.sell { color: #f5222d; }

@keyframes enter {
  from {
    box-shadow: 0 0 0 #73d13d;
  }

  50% {
    box-shadow: 0 0 24px #73d13d;
  }

  to {
    box-shadow: 0 0 0 #73d13d;
  }
}